:root {
  --font-family: "OpenSans", sans-serif;
  --second-family: "PlayfairDisplay", sans-serif;
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white-color: #fff;
  --black-color: #333333;
  --bone-color: #fff5d1;
  --green_input-color: #b8ec64;
  --gold-color: #d5b986;
  --grey-color: #999999;
  --grey_light-color: #f6f6f6;
  --grey_shade-color: #666666;
  --md_grey-color: #eaeaea;
  --pink_light-color: #f8efff;
  --pink_violet-color: #ebd1ff;
  --primary-color: #a65cf0;
  --primary_light-color: #c998fb;
  --primary_shade-color: #7033ac;
  --secondary-color: #ff862f;
  --secondary_light-color: #ffbd59;
  --secondary_shade-color: #bb370e;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSansSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSansBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/../fonts/PlayfairDisplayBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
}

.nav-top {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  -ms-grid-column-align: right;
  justify-self: right;
  -ms-grid-row-align: center;
  align-self: center;
}
.nav-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 54px;
  -moz-column-gap: 54px;
  column-gap: 54px;
}
.nav-top__link {
  padding: 2px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--grey-color);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.nav-top__link:focus:not(:hover):not(:active) {
  outline: none;
  background-color: var(--pink_violet-color);
}
.nav-top__link:hover {
  outline: none;
  color: var(--primary-color);
}
.nav-top__link:active {
  color: var(--primary_shade-color);
}
.nav-main {
  -ms-grid-column-span: 10;
  grid-column: 10 span;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column-align: right;
  justify-self: right;
  -ms-grid-row-align: center;
  align-self: center;
}
.nav-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 82px;
  -moz-column-gap: 82px;
  column-gap: 82px;
}
.nav-main__link {
  padding: 2px 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: var(--black-color);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.nav-main__link:focus:not(:hover):not(:active) {
  outline: none;
  background-color: var(--pink_violet-color);
}
.nav-main__link:hover {
  outline: none;
  color: var(--primary-color);
}
.nav-main__link:active {
  color: var(--primary_shade-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-header {
  -ms-grid-column-span: 10;
  grid-column: 10 span;
  -ms-grid-row: 3;
  grid-row: 3;
}
.form-header__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.form-header__label--svg {
  position: absolute;
  left: 31px;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  fill: var(--grey-color);
}
.form-header__input {
  padding-left: 60px;
  padding-right: 36px;
  outline: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: var(--grey_light-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.form-header__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--grey-color);
}
.form-header__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--grey-color);
}
.form-header__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--grey-color);
}
.form-header__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--grey-color);
}
.form-header__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--grey-color);
}
.form-header__input:focus-visible:not(:hover):not(:active) {
  outline: 2px solid var(--primary-color);
  background-color: var(--pink_light-color);
}
.form-header__input:focus + .form-header__label--svg {
  fill: var(--primary-color);
}
.form-header__input:hover {
  outline: none;
  background-color: var(--md_grey-color);
}

.header {
  background: linear-gradient(var(--grey_light-color) 50px, var(--white-color) 50px 100%);
}
.header__container {
  -ms-grid-rows: 50px 91px 60px;
  grid-template-rows: 50px 91px 60px;
  padding-right: 10px;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-span: 5;
  grid-column: 5 span;
  -ms-grid-row-align: center;
  align-self: center;
  width: 145px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--secondary-color);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.header__phone--svg {
  width: 22px;
  height: 22px;
  fill: currentColor;
}
.header__phone:focus:not(:hover):not(:active) {
  outline: none;
  background-color: var(--bone-color);
}
.header__phone:hover {
  outline: none;
  color: var(--secondary_light-color);
}
.header__phone:active {
  color: var(--secondary_shade-color);
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  -ms-grid-row: 3;
  grid-row: 3;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
}
.header__wrap-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px 4px;
  width: 34px;
  height: 36px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.header__wrap-user--svg {
  width: 26px;
  height: 28px;
  fill: var(--primary-color);
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.header__wrap-user:focus-visible:not(:hover):not(:active) {
  outline: none;
  background-color: var(--primary_light-color);
}
.header__wrap-user:hover {
  outline: none;
}
.header__wrap-user:active {
  outline: none;
}
.header__wrap-user:focus-visible:not(:hover):not(:active) .header__wrap-user--svg {
  fill: var(--white-color);
}
.header__wrap-user:hover .header__wrap-user--svg {
  fill: var(--primary_light-color);
}
.header__wrap-user:active .header__wrap-user--svg {
  fill: var(--primary_shade-color);
}
.header__wrap-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 4px;
  width: 49px;
  height: 34px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.header__wrap-basket--quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  width: 14px;
  height: 15px;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  color: var(--white-color);
  background-color: var(--secondary-color);
}
.header__wrap-basket--svg {
  width: 30px;
  height: 28px;
  fill: var(--primary-color);
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.header__wrap-basket:focus-visible:not(:hover):not(:active) {
  outline: none;
  background-color: var(--primary_light-color);
}
.header__wrap-basket:hover {
  outline: none;
}
.header__wrap-basket:active {
  outline: none;
}
.header__wrap-basket:focus-visible:not(:hover):not(:active) .header__wrap-basket--svg {
  fill: var(--white-color);
}
.header__wrap-basket:hover .header__wrap-basket--svg {
  fill: var(--primary_light-color);
}
.header__wrap-basket:active .header__wrap-basket--svg {
  fill: var(--primary_shade-color);
}
.header__btn-dropdown {
  position: absolute;
  right: 36px;
  border-radius: 100px;
  border: 2px solid var(--primary-color);
  width: 32px;
  height: 32px;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.header__btn-dropdown:focus-visible:not(:hover):not(:active) {
  outline: none;
  background-color: var(--primary_light-color);
}
.header__btn-dropdown:hover {
  outline: none;
  background-color: var(--primary-color);
}
.header__btn-dropdown:active {
  outline: none;
  border-color: var(--primary_shade-color);
  background-color: var(--primary_shade-color);
}
.header__btn-dropdown:focus-visible:not(:hover):not(:active) .header__btn-dropdown--svg {
  stroke: var(--white-color);
}
.header__btn-dropdown:hover .header__btn-dropdown--svg {
  stroke: var(--white-color);
}
.header__btn-dropdown:active .header__btn-dropdown--svg {
  stroke: var(--white-color);
}
.header__btn-dropdown--svg {
  width: 8px;
  height: 28px;
  stroke-width: 2px;
  stroke: var(--primary-color);
  fill: transparent;
  -webkit-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.logo {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-row-align: center;
  align-self: center;
}
/*# sourceMappingURL=main.css.map */